.wrapper {
    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    max-width: 100%;
}

.inner {
    width: var(--layout-width);
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result {
    width: 368px;
}

.account {
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.search {
    width: 32%;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 30px;
    padding: 12px 16px;
    border: 1.5px solid transparent;
    position: relative;

    input {
        width: 80%;
        font-size: 16px;
        caret-color: var(--primary-color);
        border: none;
        outline: none;
        background-color: transparent;
    }

    &:focus-within {
        border: 1.5px solid var(--search-color);
    }

    &::after {
        content: '';
        width: 1px;
        height: 80%;
        background-color: var(--search-color);
        position: absolute;
        right: 43px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.btn-search {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 11px 13px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 18px;
    color: var(--search-color);

    &:hover {
        background: rgba(22, 24, 35, 0.04);
        cursor: pointer;
    }

    &:active {
        background: rgba(22, 24, 35, 0.08);
    }
}

.loading,
.close {
    color: var(--search-color);
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}

.btn-menu {
    font-size: 20px;
    padding: 12px;
    background-color: transparent;
    cursor: pointer;
}
